div{
    overflow-x: hidden;
}
.bordure {
    border: 1px solid rgb(214, 214, 214);
}
.myAvatar {
    display: flex;
    margin: 25px;
    text-align: center;
}
.maPhoto {
    padding: 25px;
}
.myAvatar > h1 {
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
}
.btncntct {
    height: 0.9cm;
}
.form1 {
    margin-left: 20px;
}
.entetinformation {
    margin: 5px;
}
.infpersonel {
    text-align: left;
    margin: 12px;
}
.input {
    border: 1px solid gray;
    border-top-left-radius: 0.2cm;
    border-bottom-left-radius: 0.2cm;
    width: 80vh;
    height: 7vh;
    background-color: azure;
}
.entete3 > h1 {
    font-size: 20px;
    font-weight: bold;
}
.entete3 {
    padding-bottom: 40px;
    padding-top: 30px;
    padding-left: 110px;
}

.a:hover {
    text-decoration-line: underline;
}
@media (max-width: 1100px) {
    .entete3 > h1 {
        font-size: 15px;
        font-weight: bold;
    }
    .entete3 {
        padding: 0;
    }
}
@media (max-width: 1200px) {
    .myAvatar {
        margin: 0;
    }
    .myAvatar > h1 {
        margin: 0;
        font-weight: lighter;
        font-size: 13px;
    }
    .form1 {
        margin-left: 0;
    }
    .entetinformation {
        margin: 0;
    }
}
