/*Ceci est un telephone*/
@media(max-width:700px){
    .containeur{
        width: 100%;
        margin: auto;
    }

    .centrerInformation{
        width: 80%;
        /* border: 1px solid rgb(15, 11, 11); */
        text-align: center;
    }

    .rendreInline{
        display: inline-block;
        width: 100%;
        /* border: 1px solid rgb(15, 14, 14); */
    }
}
/*Ceci est un PC*/
@media(min-width:1200px){
    .containeur{
        width: 81%;
        margin: auto;
    }
}
/*Ceci est une tablette*/
@media(min-width:700px) and (max-width:1200px){
    .containeur{
        width: 90%;
        margin: auto;
    }

    .centrerInformation{
        width: 80%;
        /* border: 1px solid rgb(15, 11, 11); */
        text-align: center;
    }

    .rendreInline{
        display: inline-block;
        width: 100%;
        /* border: 1px solid rgb(15, 14, 14); */
    }

    .taille{
        width: 10px;
    }
}